aside a {
    font-size: 20px;
}

form {
    height: 35px;
    display: inline-block;
}

input[type="image"] {
    float: left;
    margin: 5px;
    height: 35px;
}

#beszelgeteseim{
    padding: 0px;
    width: 60vw;
    margin-left: 35%;
}

#beszelgeteseim section{
    margin: revert;
    width: 60vw;
    display: block;
    color: #037171;
    font-size: 30px;
    text-align: center;
}

.container {
    border: 2px solid #037171;
    background-color: #037171;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    color: white;
    text-align: left;
    vertical-align: center;
}


.lighter {
    vertical-align: center;
    border-color: #65C7A5;
    background-color: #65C7A5;
    color: white;
    color: black;
    text-align: right;
}

.lighter form {
    margin: -10px -12px;
    float: left;
}


.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
    margin-top: 10px;
}


.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
    margin-top: 10px;
}

#chat aside{
    margin-left: 10px;
    height: 600px;
}

#chat a{
    text-decoration: none;
    color: #037171;
}


.name-right {
    float: right;
    color: white;
    font-size: 15px;
}


.name-left {
    float: left;
    color: black;
    font-size: 15px;
}

#uzenet {
    margin: 0;
    width: 100%;
}

textarea{
    border-radius: 15px;
    width: 90%;
    padding: 10px;
}

#uzenet input {
    margin-right: 4%;
    float: right;
}

#uzenet input::file-selector-button{
    margin: 7px;
    background-color: #65C7A5;
    color: white;
    border: none;
    border-radius: 5px;
}

input::file-selector-button:hover {
    color: #037171;
}