#profilkep{
    width: 250px;
    height: 250px;
    display: block;
    margin-left: 20px;
}

#profilcim{

    color: #037171;
    font-size: 30px;
}
p{
    font-size: 20px;
    padding-left: 10px;

}
#profilkep{
    width: 150px;
    height: 150px;
    margin:auto;
}
.hatter{
    background-color: white;
    text-align: right;
    border: solid #037171 1px;
    border-radius: 10px;
    padding-right: 8px;
}
section{
    margin-right: 50%;
    margin-left: 35%;
    color: #037171;
    font-size: 30px;
    vertical-align: center;
    text-align: center;
    width: 60%;
}


#tevekenysegeim h1{
    font-size: 30px;
    text-align: center;
}

#tevekenysegeim h2{
    font-size: 20px;
    text-align: left;
}

#csuszka{
    border-radius: 10px;
    padding: 10px;
    background-color: #EAF1FF;
    display: flex;
    overflow-x: auto;
}

#csuszka::-webkit-scrollbar {
    width: 20px;
}

#csuszka::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

#csuszka::-webkit-scrollbar-thumb {
    background: #65C7A5;
    border-radius: 10px;
}

#csuszka::-webkit-scrollbar-thumb:hover {
    background: #037171;
}

#tevekenysegeim img{
    width: 200px;
    margin: 10px;
}

#tevekenysegeim input[type="image"] {
    float: left;
    margin: 0 5px 0 -5px;
    height: 35px;
}

#tevekenysegeim p {
    display: inline-block;
    font-size: 18px;
}

.velemenyek span {
    display: block;
    font-size: 16px;
    text-align: right;
}