body{
    margin:0;
    /*background-image: url("bg.jpg");*/
}
header{
    background-color: #7c9cd8;
    color: white;
    width: 100%;
    top: 0;
    position: fixed;
    box-sizing: border-box;
    padding: 5px;
    z-index: 2;
}
header a:hover{
    color: #037171;
    background-color: white;
    border-radius: 10px;
}

@media  screen  and (max-width: 600px){
    header div.right;
    header div{float: none};
}

header a{
    margin-right: 20px;
    line-height: 40px;
    float: right;
    text-decoration: none;
    padding: 15px;
    color: #EAF1FF;
    font-size: 25px;
}

header #profil{
    background-color: #7c9cd8;
    padding: 8px;
}

header img {
    display: block;
    margin-right: -5px;
    width: 50px;
    height: 50px;
}

header h1{
    margin: 15px;
    vertical-align: center;
    font-size: 45px;
    line-height: 70px;
    display: inline;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #EAF1FF;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0 slategray;
    width: fit-content;
    padding: 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    font-size: 18px;
    color: #037171;
    padding: 7px;
    line-height: unset;
    float: none;
}

main {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    padding: 10px;
}

#poster {
    height: 275px;
    float: left;
    margin: 10px;
}

main h1, h2 {
    color: #037171;
}

#filmcim {
    margin-bottom: 15px;
}

#trailer {
    padding: 10px;
    background-color: #65C7A5;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

#trailer:hover {
    background-color: #037171;
}

#trailer img {
    height: 20px;
    vertical-align: center;
    margin: 5px;
}

.velemenyek {
    display: block;
    margin: 10px;
    clear: left;
}

.velemenyek blockquote {
    background-color: #EAF1FF;
    padding: 15px 20px;
    border-radius: 15px;
}

.nev{
    text-align: right;
}

.nev img{
    width: 30px;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

.nev a {
    margin: 0 -5px -5px 5px;
}

.velemenyek p{
    margin: 0;
}

#komment{
    margin-left: 40px;
    width: 50%;
}

#komment textarea{
    border-radius: 15px;
    width: 95%;
    padding: 10px;
}

input[type="submit"] {
    background-color: #65C7A5;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    display: block;
    height: 30px;
    width: 80px;
}

input[type="submit"]:hover{
    transform: scale(110%);
    transition-duration: 500ms;
}

.fo_plakat {
    display: inline-table;
    background-color: #EAF1FF;
    border-radius: 15px;
    margin: 10px;
}

.fo_plakat form{
    margin: 5px;
    vertical-align: middle;
    text-align: center;
}

.like input[type="image"]{
    height: 35px;
    margin: 5px;
}

.plakat{
    margin: 25px 25px 10px 25px;
    width: 200px;
    float: left;
}

.plakat:hover {
    transform: scale(105%);
    transition-duration: 500ms;
}

aside {
    position: fixed;
    padding: 15px;
    width: 25%;
    margin: 15px;
    padding-top: 70px;
    background-color: #eaf1ff;
    border-radius: 30px;
    box-shadow: 5px 5px 30px 0 slategray;
    color: #037171;
}
