#profilkep{
    width: 250px;
    height: 250px;
    display: block;
    margin-left: 20px;
}

#profilcim{

    color: #037171;
    font-size: 30px;
}
p{
    font-size: 20px;
    padding-left: 10px;

}
#profilkep{
    width: 200px;
    height: 200px;
    margin:auto;
}
.hatter{
    background-color: white;
    text-align: right;
    border: solid #037171 1px;
    border-radius: 10px;
    padding-right: 8px;
}
section{
    margin-right: 50%;
    margin-left: 50%;
    color: #037171;
    font-size: 30px;
    vertical-align: center;
    text-align: center;
}
