body{
    margin:0;
    background-color: white;
}
header{
    background-color: #7c9cd8;
    color: white;
    width: 100%;
    margin-top: 0;
    position: fixed;
    box-sizing: border-box;
    padding: 5px;
}
header a:hover{
    color: #037171;
    background-color: white;
    border-radius: 10px;
}

header a{
    margin-right: 20px;
    line-height: 40px;
    float: right;
    text-decoration: none;
    padding: 15px;
    color: #EAF1FF;
    font-size: 25px;
}

header #profil{
    background-color: #7c9cd8;
    padding: 5px;
}

header img {
    margin-right: -5px;
    width: 50px;
    height: 50px;
}

header h1{
    margin: 15px;
    vertical-align: center;
    font-size: 45px;
    line-height: 70px;
    display: inline;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #EAF1FF;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0 slategray;
    width: fit-content;
    padding: 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    font-size: 18px;
    color: #037171;
    padding: 7px;
    line-height: unset;
    float: none;
}